---
import '../styles/index.css';
import type { MarkdownHeading } from 'astro';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header.astro';
import PageContent from '../components/PageContent.astro';
import MainMenu from '../components/MainMenu.astro';
import RightSidebar from '../components/RightSidebar.astro';
import { SITE } from '../consts';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
const currentPage = Astro.url.pathname;
---

<html>
  <head>
    <HeadCommon />
    <title>
      {`${SITE.title}`}
    </title>
  </head>

  <body>
    <Header currentPage={currentPage} />

    <main class="grid md:grid-cols-4 gap-x-10 p-10">
      <aside class="hidden md:block col-span-1">
        <nav>
          <MainMenu currentPage={currentPage} />
        </nav>
      </aside>
      <div class="col-span-3 md:col-span-2">
        <PageContent headings={headings}>
          <slot />
        </PageContent>
      </div>
      <aside class="col-span-1">
        <RightSidebar headings={headings} />
      </aside>
    </main>
  </body>
</html>
