---
import '../styles/index.css';
import type { MarkdownHeading } from 'astro';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header.astro';
import MainMenu from '../components/MainMenu.astro';
import TableOfContents from '../components/TableOfContents';
import { SITE } from '../consts';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
const currentPage = Astro.url.pathname;
---

<html>
  <head>
    <HeadCommon />
    <title>
      {`${SITE.title}`}
    </title>
  </head>

  <body>
    <Header currentPage={currentPage} />

    <main class="grid md:grid-cols-4 gap-x-10 p-10">
      <aside class="hidden md:block col-span-1">
        <nav class="sticky top-0">
          <MainMenu currentPage={currentPage} />
        </nav>
      </aside>
      <div class="col-span-3 md:col-span-2">
        <article>
          <div class="block md:hidden">
            {headings.length > 1 && <TableOfContents client:load headings={headings} />}
          </div>
          <section class="prose">
            <slot />
          </section>
        </article>
      </div>
      <aside class="hidden md:block col-span-1">
        {headings.length > 1 && <TableOfContents client:load headings={headings} />}
      </aside>
    </main>
  </body>
</html>
